body { 
    font-family: Verdana, sans-serif;
    display: flex;
    background-color: #aaffc6;
    color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(#8dff76);
    background-size: 100% 30px, 100% 5px;
    background-position: 0 0, 0 25px;
    background-repeat: no-repeat;
}


h1 {
    color: #7cb6ff;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black outline */
}

h3 {
    color: #ab94ff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black outline */
}

form {
    background-color: #73dbff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #7cb6ff;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #8dff76;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #aaffc6;
}

#solutionsList {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ab94ff;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#commentSection input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #7cb6ff;
    border-radius: 4px;
}

img {
    display: block; 
    margin: 0 auto; 
    width: 200px;
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
}


.container {
    text-align: center;
    background-color: #73dbff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.image-functions {
    margin-bottom: 20px;
}

.function-img {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.function-img:hover {
    transform: scale(1.1);
}

.auth-box {
    background-color: #8dff76;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-box a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
}

.auth-box span {
    color: black;
}

